.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
*.psd

## Google API files
GoogleService-Info.plist
google-services.json

## Keys
catbox.jks
key.properties