//
// General Firestore Rules.
//

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public access to cats.
    match /cats/{catId} {
      allow read;
    }

    // Restrict updating of likes to documents of authenticated users.
    match /likes/{likeId} {
      allow create: if isSignedIn() && exists(/databases/$(database)/documents/cats/$(likeId.split(':')[0])) && request.resource.data.size() == 0;
      allow get, delete: if isSignedIn() && likeId.split(':')[1] == request.auth.uid;
    }

    // function isValidLikeId(likeId) {
    //   var [catId, userId] = likeId.split(':');
    //   return exists(/cats/$(catId));
    // }

    function isSignedIn() {
      return request.auth != null;
    }

    function isLikeOwner() {
      return isSignedIn() && resource.data.user_id == request.auth.uid;
    }
  }
}