//
// General Firestore Rules.
//

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public access to cats.
    match /cats/{catId} {
      allow read;
    }

    match /likes/{likeId} {
      allow read;
      allow update: if isLikeOwner();
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isLikeOwner() {
      return isSignedIn() && resource.data.user_id == request.auth.uid;
    }
  }
}